<body style="
    background: #009688;
">
<h1>floricultura</h1>
Loja de flores<br>
Etamos com uma novidade na regiao, flores diferenciadas para comprar entre em contato através do Whats App <a target="_blank" href="https://api.whatsapp.com/send?phone=551192351234&text=Ola,%20estou%20interessado%20na%20compra%20da%20Ferrary%20Cinza">(11)9999.1234</a><br>
<img src="https://s2.glbimg.com/L2u6euwzqnNaXquKQyZcI0PcT7c=/780x440/e.glbimg.com/og/ed/f/original/2020/05/18/begonias-3326396_1920.jpg" style="
    width: 455PX;
">  
</body> 
